---
---

@import "{{ site.theme }}";

body {
  font-family: 'Roboto', sans-serif;
  color: #141414;
  background-color: #F5F3EF;
}

a {
  color: #66023C;

  &:hover {
    color: #8C0352;
  }
}

code {
  font-family: 'Courier Prime', monospace;
  background-color: rgba(102, 2, 60, 0.05);
  padding: 2px 4px;
  border-radius: 3px;
}

pre code {
  display: block;
  padding: 1em;
  overflow-x: auto;
  background-color: rgba(102, 2, 60, 0.05);
  border: 1px solid rgba(102, 2, 60, 0.1);
}

.btn {
  color: #F5F3EF;
  background-color: #66023C;
  border: 2px solid #141414;
  font-family: 'Roboto', sans-serif;
  height: 30px;
  padding: 0 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.3rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn:hover {
  color: #F5F3EF;
  background-color: #8C0352;
  border-color: #141414;
}

header {
  text-align: center;
}

header img {
  width: 80px;
  display: inline-block;
}

section img[src$=".jpg"] {
  border: 1px solid #141414;
  border-radius: 0px;
  padding: 0px;
}