---
---

@import "{{ site.theme }}";

body {
  font-family: 'Roboto', sans-serif;
  color: #141414;
}

a {
  color: #0366d6;
}

code {
  font-family: monospace;
}

.btn {
  color: #0366d6;
  border-color: #0366d6;
}

.btn:hover {
  color: #ffffff;
  background-color: #0366d6;
}